body {
  box-sizing: border-box;
  margin: unset;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p, h1, h2, h3 {
  margin: unset;
}

ul, ol {
  margin: unset;
  padding: unset;
  list-style-type: none;
}

a {
  color: unset;
  text-decoration: unset;
}

button {
  border: unset;
  background-color: unset;
  padding: unset;
  text-align: unset;
  font-family: unset;
  font-size: unset;
  color: unset;
}

dialog {
  border-color: transparent;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.cta-btn {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
}
.cta-btn:hover, .cta-btn:focus {
  transform: scale(110%);
}
.cta-btn:hover, .cta-btn:focus {
  color: #000000;
  background-color: #D3573C;
}

.like-btn {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  position: relative;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}
.like-btn:hover, .like-btn:focus {
  transform: scale(120%);
}
.like-btn .outline-heart, .like-btn .filled-heart {
  position: absolute;
  top: 0;
  left: 0;
}
.like-btn .outline-heart {
  transition: opacity 0.2s ease-in-out;
}
.like-btn .filled-heart {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.like-btn.btn-liked .filled-heart {
  opacity: 1;
}
.like-btn:hover .outline-heart {
  opacity: 0;
}
.like-btn:hover .filled-heart {
  opacity: 1;
}

.dropdown-btn__menu-item {
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: unset;
}
.dropdown-btn__menu-item[checked] {
  display: none;
}
.dropdown-btn__cta {
  border-radius: 5px;
}
.dropdown-btn__cta::before {
  display: none;
}
.dropdown-btn__cta-icon {
  font-size: 1.2rem;
  transition: transform 0.2s ease-in-out;
}
.dropdown-btn__menu {
  display: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}
.dropdown-btn__menu-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  height: 1px;
  width: 90%;
  background-color: white;
}
.dropdown-btn:hover .dropdown-btn__cta {
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}
.dropdown-btn:hover .dropdown-btn__cta-icon {
  transform: rotate(180deg);
}
.dropdown-btn:hover .dropdown-btn__menu {
  display: block;
}

.dropdown {
  position: relative;
  font-size: 1.2rem;
  width: 170px;
  font-weight: 700;
  color: white;
}
.dropdown__cta {
  cursor: pointer;
  width: 100%;
  height: 70px;
  padding: 20px;
  font-weight: 700;
  background-color: #901C1C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.dropdown__cta:hover, .dropdown__cta:focus {
  color: #000000;
  background-color: #D3573C;
}
.dropdown__cta[aria-expanded=true] {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: unset;
}
.dropdown__cta-icon {
  transition: transform 0.2s ease-in-out;
}
.dropdown__cta[aria-expanded=true] .dropdown__cta-icon {
  transform: rotate(180deg);
}
.dropdown__menu {
  position: absolute;
  width: 100%;
  background-color: #901C1C;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  z-index: 100;
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.3));
}
.dropdown__menu li {
  position: relative;
}
.dropdown__menu li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  height: 1px;
  width: 90%;
  background-color: white;
}
.dropdown__menu[aria-hidden=true] {
  display: none;
}
.dropdown__menu li[aria-hidden=true] {
  display: none;
}

.photographer-card {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.photographer-card__link {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photographer-card__link:hover, .photographer-card__link:focus {
  transform: scale(105%);
}
.photographer-card__image {
  object-fit: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  mask-image: radial-gradient(circle, black 60%, rgba(0, 0, 0, 0.1) 60%, transparent 66%);
  -webkit-mask-image: radial-gradient(circle, black 60%, rgba(0, 0, 0, 0.1) 60%, transparent 68%);
}
.photographer-card__name {
  color: #D3573C;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 20px;
}
.photographer-card__location {
  color: #901C1C;
  font-size: 1.5rem;
}
.photographer-card__tagline {
  color: #000000;
  font-size: 1rem;
  margin-top: 5px;
}
.photographer-card__price {
  color: #757575;
  font-size: 1.2rem;
  margin-top: 5px;
}

.media-card {
  position: relative;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
}
.media-card__thumbnail-wrapper {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}
.media-card__thumbnail-wrapper:hover, .media-card__thumbnail-wrapper:focus {
  transform: scale(105%);
}
.media-card__thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.media-card__film-icon {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 2.6rem;
  color: #901C1C;
}
.media-card__info-wrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901C1C;
  font-size: 1.5rem;
}
.media-card__title {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.media-card__likes {
  margin-left: 5px;
  white-space: nowrap;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.media-card__likes-btn {
  margin-left: 5px;
}

.media-lightbox {
  padding: unset;
  display: block;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: unset;
  max-height: unset;
  overflow: auto;
  background-color: rgba(196, 196, 196, 0.8);
  backdrop-filter: blur(10px);
}
.media-lightbox__container {
  margin: 10vh;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr fit-content(90%) 1fr;
  grid-auto-rows: 33% 33% 33% auto;
  grid-template-areas: ". media control-close" "control-left media control-right" ". media ." ". title .";
}
.media-lightbox .control-left-btn {
  grid-area: control-left;
  place-self: center start;
}
.media-lightbox .control-right-btn {
  grid-area: control-right;
  place-self: center end;
}
.media-lightbox .control-close-btn {
  grid-area: control-close;
  place-self: start end;
}
.media-lightbox .control-left-btn,
.media-lightbox .control-right-btn,
.media-lightbox .control-close-btn {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  color: #901C1C;
  font-size: 3rem;
  padding: 20px;
  margin: -20px;
}
.media-lightbox .control-left-btn:hover, .media-lightbox .control-left-btn:focus,
.media-lightbox .control-right-btn:hover,
.media-lightbox .control-right-btn:focus,
.media-lightbox .control-close-btn:hover,
.media-lightbox .control-close-btn:focus {
  transform: scale(120%);
}
.media-lightbox__title {
  margin-top: 10px;
  grid-area: title;
}
.media-lightbox__media {
  grid-area: media;
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  place-self: center;
}
.media-lightbox__title {
  font-size: 1.5rem;
  color: #901C1C;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 10%;
}
.banner__homepage-link {
  display: flex;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}
.banner__homepage-link:hover, .banner__homepage-link:focus {
  transform: scale(110%);
}
.banner__logo {
  height: 2.5rem;
}
.banner__title {
  color: #901C1C;
  font-size: 2.5rem;
  font-weight: 400;
}

.photographers-section {
  margin: 5rem 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 2rem 8rem;
}

.photographer-header {
  background-color: #FAFAFA;
  border-radius: 5px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.photographer-header__name {
  color: #D3573C;
  font-size: 4rem;
  font-weight: 400;
}
.photographer-header__location {
  color: #901C1C;
  font-size: 1.5rem;
}
.photographer-header__tagline {
  color: #525252;
  font-size: 1.2rem;
  margin-top: 18px;
}
.photographer-header__contact-btn {
  justify-self: center;
}
.photographer-header__image {
  justify-self: end;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.photographer-info-section {
  position: fixed;
  bottom: 0;
  right: 40px;
  background-color: #DB8876;
  border-radius: 5px 5px 0px 0px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  font-weight: 500;
  font-size: 1.5rem;
}
.photographer-info-section__likes-counter i {
  padding-left: 6px;
}

.medias-sort-section {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}
.medias-sort-section__label {
  font-weight: 700;
  font-size: 1.2rem;
  margin-right: 25px;
}

.medias-section {
  margin: 60px 0px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 50px;
  row-gap: 20px;
  justify-items: center;
}
.medias-section li {
  width: 100%;
  max-width: 450px;
}
.medias-section li:nth-child(3n-2) {
  justify-self: start;
}
.medias-section li:nth-child(3n) {
  justify-self: end;
}

.contact-form {
  display: block;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  padding: unset;
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(196, 196, 196, 0.4);
}
.contact-form__container {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  padding: 35px;
  margin: 5% auto;
}
.contact-form__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.contact-form__header-title {
  margin-top: -14px;
  font-size: 4rem;
  font-weight: 400;
}
.contact-form__header .close-btn {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  color: white;
  font-size: 3.8rem;
  padding: 10px 20px;
  margin: -20px;
}
.contact-form__header .close-btn:hover, .contact-form__header .close-btn:focus {
  transform: scale(120%);
}
.contact-form__form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.contact-form__form-label {
  color: #312E2E;
  font-size: 2rem;
}
.contact-form__form-input {
  border: unset;
  width: 100%;
  height: 68px;
  border-radius: 5px;
  font-size: 2rem;
}
.contact-form__form-input[aria-invalid=true] {
  border: 4px solid red;
}
.contact-form__form-input:hover, .contact-form__form-input:focus {
  outline: unset;
  border: 4px solid #901C1C;
}
textarea.contact-form__form-input {
  height: 170px;
}

.contact-form__form-hint {
  color: #901C1C;
  font-size: 1.2rem;
  opacity: 1;
  transition: opacity 0.1s ease-in-out, transform 0.3s ease-out;
}
.contact-form__form-hint.hidden {
  transform: translateX(-20px);
  opacity: 0;
}
.contact-form__form input[type=submit] {
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
