.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 10%;

  &__homepage-link {
    display: flex;
    @include hover-focus-transition;
  }

  &__logo {
    height: 2.5rem;
  }

  &__title {
    color: $color-primary;
    font-size: 2.5rem;
    font-weight: $font-weight-regular;
  }
}