.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0px 100px;

  &__homepage-link {
    display: flex;
  }

  &__logo {
    height: 50px;
  }

  &__title {
    color: $color-primary;
    font-size: 36px;
    font-weight: $font-weight-regular;
  }
}