.cta-btn {
  @include hover-focus-transition;
  color: $color-white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: $font-weight-bold;
  width: 11rem;
  height: 4rem;
  border: none;
  background-color: $color-primary;
  border-radius: 5px;

  &:hover, &:focus {
    color: $color-black;
    background-color: $color-secondary;
  }
}

.like-btn {
  @include hover-focus-transition(1.2);
  position: relative;
  display: inline-block;
  height: 1.6rem;
  width: 1.7rem;

  .outline-heart, .filled-heart {
    position: absolute;
    inset: 0;
  }
  .outline-heart {
    transition: opacity 0.2s ease-in-out;
  }
  .filled-heart {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }
  &.btn-liked {
    .filled-heart {
      opacity: 1;
    }
  }
  &:hover {
    .outline-heart {
      opacity: 0;
    }
    .filled-heart {
      opacity: 1;
    }
  }
}