.media-lightbox {
  padding: unset;
  display: block;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: unset;
  max-height: unset;
  overflow: auto;
  background-color: rgba(196, 196, 196, 0.8);
  backdrop-filter: blur(10px);

  &__container {
    margin: 10vh;
    height: 80vh;

    display: grid;
    grid-template-columns: 1fr fit-content(90%) 1fr;
    grid-auto-rows: 33% 33% 33% auto;
    grid-template-areas: 
      ". media control-close"
      "control-left media control-right"
      ". media ."
      ". title .";
  }

  .control-left-btn {
    grid-area: control-left;
    place-self: center start;
  }

  .control-right-btn {
    grid-area: control-right;
    place-self: center end;
  }

  .control-close-btn {
    grid-area: control-close;
    place-self: start end;
  }

  .control-left-btn, 
  .control-right-btn, 
  .control-close-btn {
    color: $color-primary;
    font-size: 50px;
    padding: 20px;
    margin: -20px;
    cursor: pointer;
  }

  &__title {
    margin-top: 10px;
    grid-area: title;
  }

  &__media {
    grid-area: media;
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    place-self: center;
  }

  &__title {
    font-size: 24px;
    color: $color-primary;
  }
}