.photographer-card {
  justify-self: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__link {
    @include hover-focus-transition(105%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    object-fit: cover;
    border-radius: 50%;
    width: 60%;
    aspect-ratio: 1 / 1;
    mask-image: radial-gradient(circle, black 60%, rgba(0, 0, 0, 0.1) 60%, transparent 66%);
    -webkit-mask-image: radial-gradient(circle, black 60%, rgba(0, 0, 0, 0.1) 60%, transparent 68%);
  }

  &__name {
    color: $color-secondary;
    font-size: 2.5rem;
    font-weight: $font-weight-regular;
    margin-top: 0.8rem;
  }

  &__location {
    color: $color-primary;
    font-size: 1.5rem;
  }

  &__tagline {
    color: $color-black;
    font-size: 1rem;
    margin-top: 0.4rem;
  }

  &__price {
    color: $color-light-grey;
    font-size: 1.2rem;
    margin-top: 0.4rem;
  }
}