.photographer-card {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__link {
    @include hover-focus-transition(105%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    mask-image: radial-gradient(circle, black 60%, rgba(0, 0, 0, 0.1) 60%, transparent 66%);
    -webkit-mask-image: radial-gradient(circle, black 60%, rgba(0, 0, 0, 0.1) 60%, transparent 68%);
  }

  &__name {
    color: $color-secondary;
    font-size: 2.5em;
    font-weight: $font-weight-regular;
    margin-top: 20px;
  }

  &__location {
    color: $color-primary;
    font-size: 1.5em;
  }

  &__tagline {
    color: $color-black;
    font-size: 1em;
    margin-top: 5px;
  }

  &__price {
    color: $color-light-grey;
    font-size: 1.2em;
    margin-top: 5px;
  }
}