.photographers_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin: 100px 20px;
}

.photographer-card {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }

  &__name {
    color: $color-secondary;
    font-size: 36px;
    font-weight: $font-weight-regular;
    margin-top: 20px;
  }

  &__location {
    color: $color-primary;
    font-size: 13px;
  }

  &__tagline {
    color: $color-black;
    font-size: 10px;
    margin-top: 5px;
  }

  &__price {
    color: $color-light-grey;
    font-size: 9px;
    margin-top: 5px;
  }
}