.photographer-header {
  background-color: #FAFAFA;
  margin: 0 10%;
  border-radius: 5px;
  padding: 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: 4rem;

  &__info-wrapper {
    min-width: 20%;
  }

  &__cta-wrapper {
    text-align: center;
    flex: 2;
  }

  &__img-wrapper {
    text-align: center;
    flex: 1;
  }

  &__name {
    color: $color-secondary;
    font-size: 4rem;
    font-weight: $font-weight-regular;
  }

  &__location {
    color: $color-primary;
    font-size: 1.5rem;
  }

  &__tagline {
    color: $color-grey;
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  &__image {
    object-fit: cover;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }
}

.photographer-info-section {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 5%;
  max-width: 90%;
  background-color: $color-tertiary;
  border-radius: 5px 5px 0px 0px;
  padding: 1.5rem 2rem;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem 4rem;
  font-weight: $font-weight-medium;
  font-size: 1.5rem;

  &__likes-counter {
    i {
      padding-left: 0.1rem;
    }
  }
}

.medias-sort-section {
  margin: 1rem 10%;
  display: flex;
  align-items: center;
  &__label {
    font-weight: $font-weight-bold;
    font-size: 1.2rem;
    margin-right: 2rem;
  }
}

.medias-section {
  margin: 4rem 10%;

  @include fluid-grid(
    $grid-column-gap: 4rem, 
    $grid-item-min-width: 18rem,
    $max-grid-column-count: 3);
}