.photographer-header {
  background-color: #FAFAFA;
  height: 300px;
  padding: 50px;
  margin: 0 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  &__name {
    color: $color-secondary;
    font-size: 64px;
    font-weight: $font-weight-regular;
  }

  &__location {
    color: $color-primary;
    font-size: 24px;
  }

  &__tagline {
    color: $color-grey;
    font-size: 18px;
    margin-top: 18px;
  }

  &__contact-btn {
    justify-self: center;
    font-size: 20px;
  }

  &__image {
    justify-self: end;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}

.photographer-info-section {
  position: fixed;
  bottom: 0;
  right: 40px;
  background-color: $color-tertiary;
  border-radius: 5px 5px 0px 0px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  font-weight: $font-weight-medium;
  font-size: 24px;

  &__likes-counter {
    i {
      padding-left: 6px;
    }
  }
}

#contact_modal {
  display: none;
}