.photographer-header {
  background-color: #FAFAFA;
  margin: 0 10%;
  border-radius: 5px;
  padding: 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: 4rem;

  &__info-wrapper {
    min-width: 20%;
  }

  &__cta-wrapper {
    text-align: center;
    flex: 2;
  }

  &__img-wrapper {
    text-align: center;
    flex: 1;
  }

  &__name {
    color: $color-secondary;
    font-size: 4rem;
    font-weight: $font-weight-regular;
  }

  &__location {
    color: $color-primary;
    font-size: 1.5rem;
  }

  &__tagline {
    color: $color-grey;
    font-size: 1.2rem;
    margin-top: 18px;
  }

  &__image {
    object-fit: cover;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }
}

.photographer-info-section {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 5%;
  max-width: 90%;
  background-color: $color-tertiary;
  border-radius: 5px 5px 0px 0px;
  padding: 1.5rem 2rem;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem 4rem;
  font-weight: $font-weight-medium;
  font-size: 1.5rem;

  &__likes-counter {
    i {
      padding-left: 0.1rem;
    }
  }
}

.medias-sort-section {
  margin: 1rem 10%;
  display: flex;
  align-items: center;
  &__label {
    font-weight: $font-weight-bold;
    font-size: 1.2rem;
    margin-right: 2rem;
  }
}

.medias-section {
  margin: 4rem 10%;
  display: grid;


  $grid-column-gap: 4rem;
  $grid-item-min-width: 18rem;
  $grid-column-count: 3;

  // Calculated values
  $gap-count: $grid-column-count - 1;
  $total-gap-width: $gap-count * $grid-column-gap;
  $grid-item-max-width: calc((100% - $total-gap-width) / $grid-column-count);

  grid-template-columns: repeat(auto-fill, minmax(max($grid-item-min-width, $grid-item-max-width), 1fr));
  gap: 2rem $grid-column-gap;
}

.contact-form {
  display: block;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  padding: unset;
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(196, 196, 196, 0.4);

  &__container {
    border-radius: 5px;
    background-color: $color-tertiary;
    width: 50%;
    min-width: 26rem;
    padding: 2rem;
    margin: 5% auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &-title {
      margin-top: -1rem;
      font-size: 4rem;
      font-weight: $font-weight-regular;
    }

    .close-btn {
      @include hover-focus-transition(120%);
      color: white;
      font-size: 3.8rem;
      padding: 0 1rem;
      margin: -1rem;
    }
  }

  &__form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

    &-label {
      color: $color-dark-grey;
      font-size: 2rem;
    }

    &-input {
      border: unset;
      width: 100%;
      height: 4rem;
      border-radius: 5px;
      font-size: 2rem;

      &[aria-invalid="true"] {
        border: 4px solid red;
      }

      &:hover, &:focus {
        outline: unset;
        border: 4px solid $color-primary;
      }

      @at-root textarea#{&} {
        height: 10rem;
      }
    }

    &-hint {
      color: $color-primary;
      font-size: 1.2rem;
      opacity: 1;
      transition: opacity 0.1s ease-in-out, transform 0.3s ease-out;

      &.hidden {
        transform: translateX(-1.2rem);
        opacity: 0;
      }
    }

    input[type="submit"] {
      margin-top: 0.6rem;
    }
  }
}