// Colors
$color-primary: #901C1C;
$color-secondary: #D3573C;
$color-tertiary: #DB8876;

$color-black: #000000;
$color-dark-grey: #312E2E;
$color-grey: #525252;
$color-light-grey: #757575;

// Fonts
$font-family-primary: 'DM Sans', sans-serif;

// Font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;